* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: rgb(239, 239, 239);
    --secondary-color: rgb(76, 223, 245);
    --title-font: 'Montserrat', sans-serif;
    --title-font-weight: 700;
    --text-font: 'Montserrat', sans-serif;
    --text-font-weight: 400;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
    font-weight: var(--title-font-weight);
}

p,
a,
label {
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    line-height: 22px;
}

header {
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-width: 100%;
    z-index: 1000;
    top: 0;
}

header img {
    width: 80px;
    margin-left: 60px;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 90px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}

section {
    padding: 40px;
}

#aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    min-height: 60vh;
    background-color: var(--secondary-color);
    margin-top: 60px;
}

#aboutus img {
    width: 550px;
}

#aboutus .textos {
    margin-left: 30px;
}

#aboutus h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

#aboutus p {
    width: 80%;
}

#principal img {
    width: 70px;
    margin-top: -70px;
}

#principal h3,
#services h3 {
    margin: 10px 0;
}

#principal,
#services {
    text-align: center;
}

#services h2,
#contact h2 {
    font-size: 30px;
    margin: 20px 0;
}

#principal .container-grid-principal,
#services .container-grid-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

#principal .card,
#services .card {
    background-color: var(--primary-color);
    padding: 30px;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    transition: 0.3 transform;
    margin: 10px;
}

#services .card {
    background-color: white;
}

#services .card:hover {
    transform: scale(1.03);
}

#services img {
    width: 200px;
    margin-bottom: 20px;
}

#services .card a {
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 5px;
    margin: 30px auto 0 auto;
    width: 8rem;
    display: block;
    color: black;
    border-radius: 5px;
}

#services {
    background-color: var(--primary-color);
}

#contact h2 {
    text-align: center;
}

form * {
    display: block;
    width: 100%;
    margin: 15px 0;
    border: none;
    outline: none;
}

form {
    width: 50vw;
    padding: 50px;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 20px;
    font-size: 15px;
}

form input,
textarea {
    padding: 10px;
    border-radius: 5px;
}

#contact button {
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 5px;
    margin: 30px auto 0 auto;
    width: 8rem;
    display: block;
    color: black;
    border-radius: 5px;
    font-size: 15px;
}

#contact button:hover {
    color: var(--secondary-color);
    background-color: black;
}

footer h3 {
    color: var(--secondary-color);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    min-height: 15vh;
    padding: 80px 0 30px 100px;
    display: flex;
    flex-direction: column;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 10px 0;
}

footer ul a {
    color: white;
}

footer ul li :hover {
    color: var(--secondary-color);
}

footer i {
    margin-right: 10px;
}

.triangle {
    position: relative;
    background: white;
    height: 1vh;
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 56px 0 56px;
    border-color: white transparent transparent transparent;
    left: 15%;
    transform: translateX(-50%) translateY(100%);
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-btn a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: #ffff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 63px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.whatsapp-btn a:hover {
    background-color: #128c7e;
}

@media (max-width: 900px) {

    #principal .container-grid-principal,
    #services .container-grid-services {
        grid-template-columns: repeat(2, 1fr);
    }

    #aboutus {
        flex-direction: column;
    }

    #aboutus img {
        width: 400px;
    }
}

@media (max-width: 600px) {

    #principal .container-grid-principal,
    #services .container-grid-services {
        grid-template-columns: 1fr;
    }

    #aboutus {
        flex-direction: column;
    }

    #aboutus h1 {
        font-weight: 20px;
    }

    #aboutus img {
        width: 250px;
    }

    header img {
        margin-left: 30px;
    }

    header nav ul {
        font-size: 10px;
        gap: 10px;
        margin-right: 30px;
    }
}